.pokemon-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px;
  border-radius: 50%; /* Make the container round */
  overflow: hidden; /* Hide any child content that goes outside the round container */
  background-color: transparent; /* White background for each Pokemon item */
  background-image: url("/static/images/pokeball.png");
  background-size: cover;
  background-position: center;
}

.pokemon-container img {
  width: 80%; /* Adjust as needed */
  margin-bottom: 10px; /* Space between the image and the button */
}

.pokemon-container a {
  display: block;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners for the button */
  text-align: center;
  text-decoration: none; /* Remove the default link underline */
  color: black; /* Text color for the link */
  font-family: "Arial", sans-serif; /* Use a nice font, adjust as needed */
  font-weight: bold; /* Make the font bold */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-transform: capitalize;
}
.btn {
  background-color: white;
  color: #333; /* Dark text color for contrast against the white background */
  padding: 12px 20px; /* Vertical and horizontal padding */
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 50px; /* Rounded corners */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Bold font weight */
  text-align: center;
  text-decoration: none; /* Remove underline if applied to a link */
  cursor: pointer; /* Hand cursor on hover */
  transition: all 0.3s ease;
}
h2 {
  text-align: center;
}
